@tailwind base;
@tailwind components;
@tailwind utilities;

/* .root {
  color: red;
}
.header {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 15px;
  width: 100%;
}
.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  display: flex;
}

.search {
  padding: 15px;
}

.res-card {
  font-family:serif;
  margin: 5px;
  width: 200px;
  height: 400px;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  width: 100%;
  border-radius: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.filter-btn {
  border: none;
  color: #6420aa;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f5f7f8;
  margin: 20px;
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 2s infinite linear;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

.login {
  padding: 0 20px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.filter {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.search-box{
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-search{
  color: #6420aa;
  margin: 5px;
  padding: 10 20px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.nav{
  text-decoration: none;
  color: inherit;
}
.menu-list{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  padding: 40px;
  margin: 20px;
  height: auto;
  background-color: #EEEDED;
  border-radius: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
  rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.menu-list:hover{
  cursor: pointer;
  border: 8px soild red;
}

.user-cart{
  padding: 10px;
  border: 1px solid black;
  width: 45%;
} */